@page
@using Abc.Pages.Extensions
@model Soft.Areas.Quantity.Pages.MeasureTerms.DeleteModel

@{
    Layout = "_Delete";
}
<body>
    @Html.DisplayControlsFor(model => model.Item.MasterId)
    @Html.DisplayControlsFor(model => model.Item.TermId)
    @Html.DisplayControlsFor(model => model.Item.Power)
    @Html.DisplayControlsFor(model => model.Item.ValidFrom)
    @Html.DisplayControlsFor(model => model.Item.ValidTo)
</body>
