@page
@using Abc.Pages.Extensions
@model Soft.Areas.Quantity.Pages.MeasureTerms.EditModel

@{
    Layout = "_Edit";
}

    <body>
    @Html.EditControlsFor(model => model.Item.MasterId)
    @Html.EditControlsFor(model => model.Item.TermId)
    @Html.EditControlsFor(model => model.Item.Power)
    @Html.EditControlsFor(model => model.Item.ValidFrom)
    @Html.EditControlsFor(model => model.Item.ValidTo)
    </body>
