@page
@using Abc.Pages.Extensions
@model Soft.Areas.Quantity.Pages.UnitFactors.DeleteModel

@{
    Layout = "_Delete";
}
<body>
    @Html.DisplayControlsFor(model => model.Item.SystemOfUnitsId)
    @Html.DisplayControlsFor(model => model.Item.UnitId)
    @Html.DisplayControlsFor(model => model.Item.Factor)
    @Html.DisplayControlsFor(model => model.Item.ValidFrom)
    @Html.DisplayControlsFor(model => model.Item.ValidTo)
</body>
