@page
@using Abc.Aids
@using Abc.Data.Quantity
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.UnitFactors.DetailsModel

@{
    Layout = "_Details";
}


<body>
    @Html.DisplayControlsFor(m => m.Item.SystemOfUnitsId)
    @Html.DisplayControlsFor(m => m.Item.UnitId)
    @Html.DisplayControlsFor(m => m.Item.Factor)
    @Html.DisplayControlsFor(m => m.Item.ValidFrom)
    @Html.DisplayControlsFor(m => m.Item.ValidTo)
</body>

@section Details {
}
