@page
@using Abc.Pages.Extensions
@model Soft.Areas.Quantity.Pages.UnitFactors.EditModel

@{
    Layout = "_Edit";
}

    <body>
    <input type="hidden" asp-for="Item.SystemOfUnitsId" />
    <input type="hidden" asp-for="Item.UnitId" />
    @Html.DisabledControlsFor(model => model.Item.SystemOfUnitsId)
    @Html.DisabledControlsFor(model => model.Item.UnitId)
    @Html.EditControlsFor(model => model.Item.Factor)
    @Html.EditControlsFor(model => model.Item.ValidFrom)
    @Html.EditControlsFor(model => model.Item.ValidTo)
    </body>
