@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.UnitFactors.EditModel

@{
    Layout = "_Edit";
    var itemId = Model.ItemId;
}

<body>
    <input type="hidden" asp-for="@itemId" />
    @Html.EditControlsForDropDown(m => m.Item.SystemOfUnitsId, Model.SystemsOfUnits)
    @Html.EditControlsForDropDown(m => m.Item.UnitId, Model.Units)
    @Html.EditControlsFor(m => m.Item.Factor)
    @Html.EditControlsFor(m => m.Item.ValidFrom)
    @Html.EditControlsFor(m => m.Item.ValidTo)
</body>

