@page
@using Abc.Aids
@using Abc.Data.Quantity
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.Measures.DetailsModel

@{
    Layout = "_Details";
    const string units = "/Quantity/Units";
    var measureId = GetMember.Name<UnitData>(x => x.MeasureId);
    const string terms = "/Quantity/MeasureTerms";
    var masterId = GetMember.Name<MeasureTermData>(x => x.MasterId);
}


<body>
    @Html.DisplayControlsFor(m => m.Item.Code)
    @Html.DisplayControlsFor(m => m.Item.Name)
    @Html.DisplayControlsFor(m => m.Item.Definition)
    @Html.DisplayControlsFor(m => m.Item.ValidFrom)
    @Html.DisplayControlsFor(m => m.Item.ValidTo)
</body>

@section Details {
    @Html.HypertextLinkFor(string.Empty, new Link("Show units",
        $"{units}/Index?fixedFilter={measureId}&fixedValue={Model.Item.Id}"))
    @Html.HypertextLinkFor(new Link("Show terms",
        $"{terms}/Index?fixedFilter={masterId}&fixedValue={Model.Item.Id}"))
}
