@page
@model Soft.Areas.Quantity.Pages.Measures.IndexModel

@{
    Layout = "_Index";
}
@section Create {

    <a asp-page="Create">Create New</a>
}

<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Code)
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                        @Html.DisplayNameFor(model => model.Items[0].Name)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Definition)
                </th>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                       asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Items[0].ValidFrom)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].ValidTo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Definition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValidFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValidTo)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
